*{scroll-behavior: smooth;}

header {
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); Adds a shadow below the header */
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 5%;
   
  }
  
  #student h1{ font-size: 20px; 
    font-weight: 700; 
    line-height: 46px; 
    color: #171A1FFF;
   max-height: 6vh;
    font-family: Vollkorn;
    
}
header div { 
  flex: 1;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: auto;
}

#logo{
  max-height: 9vh;
}
#title{
  max-height: 6vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 650px;
    padding: 0;
    margin-top: 3px;
    text-align: center;
    background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
    position: sticky;
    top: 3vh;
    z-index: 1000;
    border-radius: 50px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
    
  }
  
  nav ul li a {
    font-family: Encode Sans; /* Body */
    font-size: 16px; 
    font-weight: 400; 
    line-height: 26px; 
    color: #323842FF; /* neutral-700 */
    text-decoration: none;
    padding: 3px;
    padding-bottom: 9px;
  }
  nav ul li a:hover{
    border-bottom: #deffd2 3px solid;
    

  }
  .active{
    border-bottom: #318016 3px solid;
  font-weight: 900;}
#hero {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    padding: 250px;
    padding-top: 5%;
    padding-bottom: 0;
  }
#hero-image{display: flex;
    align-items: center;
}
#hero-image img{
    align-items: flex-end;
    
    width: 600px; 
    height: auto; 
    border-radius: 0px; 
  }  
  #hero-image img:hover{
    rotate: 3deg;
  }
  #hero-text{
    
    padding-left: 20%;
    padding-top: 8%;
  }

#hero-text h1{
    
    width: 502px; 
    font-family: Vollkorn; /* Heading */
    font-size: 52px; 
    font-weight: 700; 
    line-height: 74px; 
    color: #323842FF; /* neutral-700 */
    padding: 0;
  }

#hero-text p{
    
    width: 502px; 
    font-family: Vollkorn; /* Heading */
    font-size: 16px; 
    font-weight: 400; 
    line-height: 26px; 
    color: #323842FF; /* neutral-700 */
  }

  
.button {
    margin-top: 5%;
    width: 135px; 
    height: 36px; 
    padding: 0 12px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Encode Sans; 
    font-size: 14px; 
    font-weight: 400; 
    line-height: 22px; 
    color: #FFFFFFFF; 
    background: #04543DFF; 
    opacity: 1; 
    border: none; 
    border-radius: 18px; 
    text-decoration: none;
  }
  
  .button:hover {
    color: #FFFFFFFF; 
    background: #034633FF; 
  }
  #projects{
    padding: 250px;
    padding-bottom: 0;
    padding-top: 0;
   
  }
  #project-container{ display: flex;
    flex-direction: column; 
    align-items: center;}

  h1{

  font-family: Vollkorn; /* Heading */
  font-size: 52px; 
  font-weight: 700; 
  line-height: 74px; 
  color: #171A1FFF;
  padding-left: 7%;

  }

  #project1{
        background: #F6FCE8FF; 
     
  }
  #project2{
    background: #EAFEF8FF;
  }
  .project{ 
    margin-bottom: 3%;
    width: 1160px; 
    height: 407px; 
       border-radius: 12px; 
    display: flex;}

       .project-text{
         
        width: 390px; 
        font-family: Vollkorn; /* Heading */
        font-size: 18px; 
        font-weight: 700; 
        line-height: 48px; 
        margin-top: 60px;
        margin-left: 60px;
        color: #323842FF; 
       
      }
      .project-text a{
        height: 44px; 
        
        font-family: Encode Sans; 
        font-size: 16px; 
        font-weight: 400; 
        line-height: 26px; 
        color: #424955FF; /* neutral-650 */
        background: #00000000; /* transparent */
        opacity: 1; 
        border: none; 
        border-radius: 6px; /* border-m */
        gap: 6px;
    text-decoration: none; }
.project-image{
    display: flex;
    flex: 1;
    max-width: 100%;
}
.project-image .img1 {
    flex: 1;
  max-width: calc(100%/4); 
  
  margin: 0; 
  object-fit: cover;
  height: 300px;
  margin: 6px;
  padding: 3%;
}
#img1-1{
    padding-top: 64px;
}
#img1-2{
    padding-top: 28px;;
}
#img1-3{
    padding-top: 64px;
}
.project-image .img2 {
    flex: 1;
  max-width: calc(100%/3); 
  height: auto; 
  margin: 0; 
  object-fit: cover;
  height: 300px;
  margin: 6px;
  padding: 5%;
}
.project-button {
    width: 150px;
    height: 52px; 
    padding: 0 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Encode Sans; 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 28px; 
    color: #04543DFF; /* primary-500 */
    background: #00000000; /* transparent */
    opacity: 1; 
    border-radius: 6px; /* border-m */
    border-width: 1px; 
    border-color: #04543DFF; /* primary-500 */
    border-style: solid; 
    text-decoration: none;
  }
  /* Hover */
  .project-button:hover {
    color: #034633FF; /* primary-600 */
    background: #00000000; /* transparent */
  }
#animals{
    padding: 250px;
    padding-bottom: 0;
    padding-top: 50px;
}
.row{
    display: flex;
}
.card{
  
    flex: 1;
    margin: 80px;
    margin-top: 0;
    margin-bottom: 50px;
    
    height: 407px; 
    background: #FFFFFFFF; /* white */
    border-radius: 6px; /* border-m */
    box-shadow: 0px 0px 5px #c9cdd1 ; }
  .card:hover{
    box-shadow: 0px 0px 5px #04543DFF; /* primary-500 */
  }

.card img{
  position: relative;
  max-width: 100%;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.card h2{
 position: relative;
 left: 5%;
  font-family: Vollkorn; /* Heading */
  font-size: 22px; 
  font-weight: 700; 
  line-height: 30px; 
  color: #323842FF; /* neutral-700 */
}

.card li{
  position: relative;
 right: 3%;
  
  height: 32px; 
  font-family: Encode Sans; /* Body */
  font-size: 14px; 
  font-weight: 400; 
  line-height: 26px; 
  color: #9095A0FF; /* neutral-500 */
  margin-bottom: 20px;
}
#quote{
  padding: 250px;
  padding-bottom: 100px;
  padding-top: 100px;
  
  
 
}
#quote-box{
  background: #F6FCE8FF;
  
}
#quote-container{display: flex;
  flex-direction: column;
  align-items: center;}

  .quote{ 
    margin-bottom: 3%;
    width: 1160px; 
    height: 407px; 
       border-radius: 12px; 
    display: flex;}

    .quote img{
      position: relative;
      width: auto;
      max-height: 100%;
    }
  #speach{ 
    width: 600px; 
    height: 192px; 
    font-family: Encode Sans; /* Body */
    font-size: 32px; 
    font-weight: 400; 
    line-height: 48px; 
    color: #323842FF;}
  #speaker{
    width: 500px; 
    font-family: Encode Sans; /* Body */
    font-size: 16px; 
    font-weight: 400; 
    line-height: 26px; 
    color: #323842FF;
    
  }
  #quote-text{
    padding-left: 5%;
    padding-top: 5%;
    width: 600px;
  }
  #reason{
    
    padding: 250px;
    padding-bottom: 100px;
    padding-top: 100px;
    
    
   
  }
  #table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  table{border-collapse: separate; 
    border-spacing: 50px; 
  width: 100%;
padding: 5%;
padding-top: 0;}
  td{ 
    font-family: Vollkorn; /* Heading */
    font-size: 24px; 
    font-weight: 400; 
    line-height: 36px; 
    color: #323842FF; /* neutral-700 */
      border-bottom: 1px solid #BCC1CAFF;
      
      gap: 10px;
     
      
      flex: 1;
    
        padding: 12px; /* Increased padding for more space */
        text-align: left;
        width: 33.33%; /* Divide by the number of columns */
        line-height: 1.5; /
  }
 