@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
} */

footer {
  position: relative;
  margin: 0;
  width: 100%;
  display: flex;
  background-color: #04543d;
  height: 210px;
  justify-content: space-between;
}
.links-foot p{
  font-family: "Encode Sans Semi Condensed", sans-serif;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: medium;
}
.footer-text{
  display: flex;
}
.links-foot a{
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.a-links {
  display: block;
  margin: 0;
  padding: 5px 25px;
  color: #fff;
  text-decoration: none;
}
.foot-down .foot-list,
.li-itemss {

  display: block;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
}
.foot-list{
  margin-top: 10px;
}
.li-itemss {
  position: relative;
  left: -7px;
  padding-bottom: -30px;
  padding-right: 80px;
  font-size: small;
  margin: 0.5rem;
}
.foot-list {
  position: absolute;
  top: 20px;
  left: 20px;
}


.copyrights {
  color: white;
  font-family: inherit;
  font-size: small;
  position: relative;
  top: 13px;
  
  
}
.foot-down {
  display:block;
  position: relative;
  font-family: inherit;
  font-size: medium;
  left: 280px;
}

.foot-down p,li{
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.foot-down h3{
  color: white;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-size: medium;
  font-weight: 500;
  letter-spacing: 0.8px;
  margin-bottom: 5px;
}
.footer-text {
  padding-top: 50px;
  width: 570px;
}
.li-itemss:hover{
  cursor: pointer;
}
.foot-down p{
  margin-top: -10px;
  margin-left: 20px;
}
.donate-btn {
  margin-top: 35px;
  padding: 16px 24px 16px 8px;
  color: #465e0e;
  background-color: #c1e865;
  border: none;
  font-family: inherit;
  border-radius: 25px;
  width: 150px;
  font-weight: 700;
  cursor: pointer;
}
.btn-cont {
  margin: 0;
  padding: 50px 50px;
}
.donate-btn:hover {
  background-color: rgb(250, 250, 250);
}
.btn-cont .img {
  z-index: 1;
  position: relative;
  top: 10px;
  right: 70px;
  margin-left: 20px;
}

.footer-logo {
  margin-right: 50px;
  position: relative;
  top: 45px;
  left: 50px;
  height: 150px;
}

.links-foot {
  margin-bottom: 60px;
}
