.students-summary-container {
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    width: 550px;
    gap: 10px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(120, 87, 255, 0.3);
    backface-visibility: hidden;
    
  }
  
  .heading-primary,
  .heading-secondary,
  .heading-tertiary {
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .heading-primary {
    font-size: 46px;
    font-weight: 700;
    background-image: linear-gradient(to right, #01805a, #003819);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.4);
  }
  
  .heading-secondary {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 1px;
  }
  
  .heading-secondary--blue {
    color: hsl(224, 30%, 27%);
  }
  
  .heading-tertiary {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: hsl(221, 100%, 96%);
  }
  
  .paragraph {
    font-size: 17px;
    line-height: 1.6;
    color: hsl(221, 100%, 96%);
    margin-bottom: 15px;
  }
  
  .paragraph-text-box {
    width: 100%;
  }
  
  .text-center {
    text-align: center;
  }
  
  .margin-1 {
    margin-bottom: 10px;
  }
  
  .students-summary-container__student {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    border-radius: 30px 10px;
    background-image: linear-gradient(to bottom, #1acd81, #126945);
    animation: gradient 10s linear infinite;
    .student-box {
      width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: 100% 50%;
    background-image: linear-gradient(to bottom, #dafeef, #b8fadd);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: gradient 10s linear infinite;
  }
  
  .student {
    margin-top: -18px;
    font-size: 14px;
    font-weight: 400;
    color: hsl(241, 100%, 89%);
  }
  }
  
  .students-summary-container__options {
    padding: 10px;
  }
  
  .summary-student-options {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .student-option {
    width: 210px;
    height: 36px;
    background-color:#b8fadd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
  }

  
  .icon-box {
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 1px;
    text-align: center;
    align-content: center;
  }
  
  .icon-text {
    color:#03301f;
  }
  
  
  .student-box {
    font-size: 14px;
    color: hsl(241, 100%, 89%);
    font-weight: 700;
  }
  
  .student-box span {
    font-size: 14px;
    color: hsl(224, 30%, 27%);
  }
  

  
  .icon {
    cursor: pointer;
    filter: grayscale(1);
    transition: 0.3s linear;
  }
  
  .icon:hover {
    filter: grayscale(0);
  }
  
 
  a {
    text-decoration: none;
  }
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }