.items {
    display: flex;
}

.left {
    flex: 3;
    overflow-y: hidden;
}

.right {
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    
    align-items: center;
    justify-content: center;
}

.right h1 {
    margin-top: 0; /* Remove margin at the top of the sticky container */
}



.content {
    height: 100%; /* Just for visualization of scrolling */
}


#hero{
   
    background-color: #F6FCE8;
    display: flex;
}
#text-container{
    flex: 1;
    padding-left: 130px;
    padding-top: 100px;
    padding-bottom: 130px;
}
h1{
    font-family: Vollkorn; /* Heading */
  font-size: 48px; 
  font-weight: 700; 
  line-height: 68px; 
  color: #04543DFF; /
}
h2{font-family: Vollkorn; /* Heading */
    font-size: 40px; 
    font-weight: 600; 
    line-height: 56px; 
    color: #04543DFF;}
#text-container p{
    font-size: 14px; 
    font-weight: 400; 
    line-height: 22px; 
    color: #323842FF;
    font-family: Encode Sans;
width:90% }

#image-container{
    flex: 1;
    padding: 0 20px;
}
#image-container img{
    width: 100%;
    height: auto;
    border-radius: 0px;
    position: relative;
    padding-top: 70px;
}
.button {
    
    width: 135px; 
    height: 52px; 
    padding: 0 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Encode Sans; 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 28px; 
    color: #FFFFFFFF; /* white */
    background: #04543DFF; /* primary-500 */
    opacity: 1; 
    border: none; 
    border-radius: 6px; /* border-m */
    box-shadow: 0px 4px 9px #04543d, 0px 0px 2px #04543d; /* shadow-m */
  }
  /* Hover */
  .button:hover {
    color: #FFFFFFFF; /* white */
    background: #034633FF; /* primary-600 */
  }

  #basket{
    width: 361px; 
    height: 862px; 
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px;
    background: white;
    border-radius: 10px;
    border-color: #F3F4F6FF;
    box-shadow: 0px 4px 9px #e0e2e2, 0px 0px 2px #d4d4d4; /* shadow-m */ 

}
#basket span a{
    text-decoration: none;
    font-family: Vollkorn; /* Heading */
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
color: #04543DFF;
text-align: left; 
flex: 1;
}
#basket-header{
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title{flex: 3;
    margin-bottom: 0;}
.line {
    position: absolute;
    width: 355px; 
    height: 0; 
    border-width: 1px; 
    border-color:  #F3F4F6FF;; /* neutral-200 */
    border-style: solid; 
    transform: rotate(0deg); 
    padding: 0%;
    
  }
  #basket-items{
    padding-top: 0;
  }
  .basket-item{
    display: flex;
    padding: 20px;
    padding-bottom: 4px;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: #e7eeeb 1px solid;
  }
  .item-image img{
    flex: 1;
    width: 94px; 
  height: 85px; 
  border-radius: 8px;
  }
    .item-details{
        flex: 3;
        padding-left: 20px;
        
    }
    .item-details h3{
        font-family: Vollkorn; /* Heading */
       font-size: 26px;
        font-weight: 700;
        margin-bottom: 0; 
        
        color: #323842FF;
    padding-bottom: 0; }
    .item-details p{ font-family: Encode Sans; /* Body */
        font-size: 14px; 
        font-weight: 400; 
        
        padding-top: 0;
        color: #171A1FFF; }
    #basket-footer{
        padding: 15px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    #checkout-button {
       
         
        width: 247px; 
        height: 52px; 
        padding: 0 20px; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        font-family: Encode Sans; 
        font-size: 18px; 
        font-weight: 400; 
        line-height: 28px; 
        color: #FFFFFFFF; /* white */
        background: #04543DFF; /* primary-500 */
        opacity: 1; 
        border: none; 
        border-radius: 26px; 
      }
      /* Hover */
      #checkout-button:hover {
        color: #FFFFFFFF; /* white */
        background: #034633FF; /* primary-600 */
      }
    #checkout-button-container {
        display: flex;
        justify-content: center;
        align-items:end;
        position: absolute; 
        bottom: 60px;
        left: 95px; 
    }
#value{ font-family: Vollkorn; /* Heading */
    font-size: 24px; 
    font-weight: 700; 
    line-height: 30px; 
    color: #171A1FFF; }
    #total { font-family: Encode Sans; /* Body */
        font-size: 18px; 
        font-weight: 400; 
        line-height: 22px; 
        color: #171A1FFF; }
        #basket-total{
            padding-top: 20px;

        }
        #filter_container{
            display: flex;
            padding-right: 20px;
            padding-left: 20px;
        }
        .filter_img {
            flex: 1;
            padding: 80px;
            width: 100%;
            align-items: center;
            align-self: center;
            text-align: center;
            
        }
        .filter_img img{
            width: 100%;
            height: auto;
         
            
        }
        .filter_img h5{
            font-family: Encode Sans; /* Body */
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
  color: #9095A0FF;
        }
        .filter_img h3{
            font-family: Vollkorn; /* Heading */
            font-size: 30px; 
            font-weight: 500; 
            line-height: 36px; 
            color: #171A1FFF;
        }
        .item_list {
            display: flex;
            padding-left: 200px;
            padding-right: 200px;
            
        }

        .card {
            flex: 1;
            
            border-radius: 20px;
            background: #f5f5f5;
            position: relative;
            padding: 1.8rem;
            border: 2px solid #c3c6ce;
            transition: 0.5s ease-out;
            overflow: visible;
            margin: 30px;
            margin-top: 0;
           }
           
           .card-details {
            color: black;
            height: 100%;
            gap: .5em;
            display: grid;
            place-content: center;
           }
           
           .card-button {
            transform: translate(-50%, 125%);
            width: 60%;
            border-radius: 1rem;
            border: none;
            background-color: #034633;
            color: #fff;
            font-size: 1rem;
            padding: .5rem 1rem;
            position: absolute;
            left: 50%;
            bottom: 0;
            opacity: 0;
            transition: 0.3s ease-out;
           }
           
           
           
           .card:hover {
            border-color: #034633;
            box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
           }
           
           .card:hover .card-button {
            transform: translate(-50%, 50%);
            opacity: 1;
           }

           .card-details .item_img{
            width: 100%;
            height: auto;
            border-radius: 10px;
            
           }
           .category_type h3{font-family: Vollkorn; /* Heading */
            font-size: 32px; 
            font-weight: 700; 
            line-height: 48px; 
            color: #171A1FFF;
        padding-left: 230px;}
        .item_title{ font-family: Vollkorn; /* Heading */
            font-size: 25px; 
            font-weight: 700; 
            line-height: 30px; 
            color: #171A1FFF;
        padding: 0;
        
    margin: 0;
    margin-top: 25px;}
            .price{font-family: Encode Sans; /* Body */
                font-size: 20px; 
                font-weight: 700; 
                line-height: 26px; 
                color: #04543DFF;
                padding: 0;
                margin: 0;}

                .rating_img{
                    width: 50%;
                }


                #banner_container{
                    background-color: #C9E78A;
                    display: flex;
                    margin-top: 30px;
                    margin-left: 150px;
                    margin-right: 150px;
                    margin-bottom: 50px;
                    border-radius: 8px; /* border-l */
  box-shadow: 0px 4px 9px #83a18f, 0px 0px 2px #a6c2b5; 

                }
                .banner_text{
                    height: 150px;
                    flex: 3;

                }
                .banner_img{
                    position: relative;
                    flex: 2; 
                    display: flex;
                   align-items: center;
                   align-self: center;
                   align-content: center; 
                   
                   justify-content: center;
                   

                    }
                    .banner_img img{
                        height: 300px;   
                        width: auto;
                       padding-top: 5%;
                       padding-bottom: 5%;
                                     
                       }
                       .skipButton{
                        
  z-index: 99;
  transform: translateY(-50%);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #ffffff1e;
  margin: 5%;
  border: none;
  font-size: 20px;
  color: #086b45;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
                       
                       }
                       .t-title{
                        font-family: Vollkorn; /* Heading */
  font-size: 48px; 
  font-weight: 700; 
  line-height: 68px; 
  color: #04543DFF;
  padding-left: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
                       }
                       .t-desc{
                        font-family: Encode Sans; /* Body */
                        font-size: 18px; 
                        font-weight: 400; 
                        line-height: 28px; 
                        color: #323842FF;
                        padding-left: 30px;
                        padding-top: 0;
                       }
                       .t-price{
                        background-color: #034633;
                        color: #FFFFFFFF;
                        font-family: Encode Sans; /* Body */
                        font-size: 26px; 
                        font-weight: 400; 
                        line-height: 28px;
                        padding: 15px;
                        padding-right: 40px;
                        width: max-content;
                        border-top-right-radius: 99em;
                        border-bottom-right-radius: 99em;                        
                       }
                       
                       .t-button {
                       
                        width: auto; 
                        height: 50px; 
                        padding: 0 20px; 
                        margin-left: 30px;
                        display: flex; 
                        align-items: center; 
                        justify-content: center; 
                        font-family: Encode Sans; 
                        font-size: 18px; 
                        font-weight: 400; 
                        line-height: 28px; 
                        color: #04543DFF; /* primary-500 */
                        background: #00000000; /* transparent */
                        opacity: 1; 
                        border-radius: 26px; 
                        border-width: 1px; 
                        border-color: #04543DFF; /* primary-500 */
                        border-style: solid; 
                      }
                      /* Hover */
                      .t-button:hover {
                        color: #034633FF; /* primary-600 */
                        background: #00000000; /* transparent */
                      }
                       

                      #error-message p{
                        display: fixed;
                        background-color: #fce8db;
                        margin: 10px;

                        padding:5px;
                        text-align: center;
                        border-radius: 1rem;
                        color: #ef665b;
                        border: #ef665b 1px solid;
                      }