@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* TEMPLATES  */

/* transparent background with hover effects (green) */


.light-btn {
  margin-top: 10px;
  color: #04543d;
  border: 1px solid #04543d;
  background-color: #ffffff00;
  font-weight: 500;
  width: 110px;
  height: 45px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  border-radius: 50px;
  margin: 40px;
  cursor: pointer;
}


.light-btn:hover {
color: #fff;
background-color: #63a46c;
border: 1px solid #63a46c;
}

/* 
Dark Green button */

.dark-btn {
  margin-top: 5px;
  color: #fff;
  background-color: #04543d;
  width: 110px;
  height: 40px;
  border: none;
  font-family: inherit;
  border-radius: 50px;
  cursor: pointer;
}

/* Heading */
.heading {
  font-family: Vollkorn;
  
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  color: #04543DFF;
}

/*FADE_IN EFFECT*/
.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*slide-in-left EFFECT*/
.slide-in-left {
  animation: slideInLeft ease 1s;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/*slide-in-right EFFECT*/
.slide-in-right {
  animation: slideInRight ease 1s;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*pulse EFFECT*/
.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
/*Back to top button*/
.myBtn {
  display: flex; 
  position: fixed; 
  bottom: 220px; 
  right: 10px;
  z-index: 999; 
  border: none; 
  outline: none; 
  background-color: rgb(0, 107, 62); 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  
}

.myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/*--------------------------------------------------------------*/
/* NAVBAR*/

ul {
    padding: 0;
    margin: 0;     
    list-style: none;
    padding-top: 10px;
    border-radius: 5px;
  }
  .info-btn {
    margin-top: 5px;
    color: #fff;
    background-color: #04543d;
    width: 110px;
    height: 40px;
    border: none;
    font-family: inherit;
    border-radius: 50px;
    cursor: pointer;
  }
  
  nav {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .logo img {
    height: 50px;
    width: auto;
  }
  .logo {
    border-radius: 5px;
  }
  
  header {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    z-index: 10;
    border-radius: 2px;
    box-shadow: 3px 3px 9px 2px #00000010;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: #000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
  }
  header nav ul li a:hover {
    border-bottom-color: #00a803;
  }
  header nav ul li a.active {
    border-bottom-color: #04543d;
  }
  .side-veiw {
    cursor: pointer;
    display: none;
  }
  .side-veiw div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
  }
  
  
/*--------------------------------------------------------------*/
  /* FOOTER */

footer {
  position: relative;
  margin: 0;
  width: 100%;
  display: flex;
  background-color: #04543d;
  height: 210px;
  justify-content: space-between;
}
.links-foot p{
  font-family: "Encode Sans Semi Condensed", sans-serif;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: medium;
}
.footer-text{
  display: flex;
}
.links-foot a{
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.a-links {
  display: block;
  margin: 0;
  padding: 5px 25px;
  color: #fff;
  text-decoration: none;
}
.foot-down .foot-list,
.li-itemss {

  display: block;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
}
.foot-list{
  margin-top: 10px;
}
.li-itemss {
  position: relative;
  left: -7px;
  padding-right: 80px;
  font-size: small;
  margin: 0.5rem;
}
.foot-list {
  position: absolute;
  top: 20px;
  left: 20px;
}


.copyrights {
  color: white;
  font-family: inherit;
  font-size: small;
  position: relative;
  top: 13px;
  
  
}
.foot-down {
  display:block;
  position: relative;
  font-family: inherit;
  font-size: medium;
  left: 280px;
}

.foot-down p,li{
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.foot-down h3{
  color: white;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-size: medium;
  font-weight: 500;
  letter-spacing: 0.8px;
  margin-bottom: 5px;
}
.footer-text {
  padding-top: 50px;
  width: 570px;
}
.li-itemss:hover{
  cursor: pointer;
}
.foot-down p{
  margin-top: -10px;
  margin-left: 20px;
}
.donate-btn {
  margin-top: 35px;
  padding: 16px 24px 16px 8px;
  color: #465e0e;
  background-color: #c1e865;
  border: none;
  font-family: inherit;
  border-radius: 25px;
  width: 150px;
  font-weight: 700;
  cursor: pointer;
}
.btn-cont {
  margin: 0;
  padding: 50px 50px;
}
.donate-btn:hover {
  background-color: rgb(250, 250, 250);
}
.btn-cont .img {
  z-index: 1;
  position: relative;
  top: 10px;
  right: 70px;
  margin-left: 20px;
}

.footer-logo {
  margin-right: 50px;
  position: relative;
  top: 45px;
  left: 50px;
  height: 150px;
}

.links-foot {
  margin-bottom: 60px;
}

/* Back to Top */

.myBtn {
  display: none; 
  position: fixed; 
  bottom: 220px; 
  right: 10px;
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: rgb(0, 107, 62); 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  
}

.myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


  